# Byte-compiled / optimized / DLL files
# Caches
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Ignore all .DS_Store 
.DS_Store

# Ignore .pytest_cache for Python testing
.pytest_cache/

# Environments
.env
.env_dev
.env_prod
.venv
env/
venv/
ENV/
venv/
etlenv/
.env*



# IDEs
.idea/
*.swp
*.swo
*.swn

# Custom files to ignore 
setup_cron.sh

# Custom directories to ignore
/archive/
/credentials/
/data/
/logs/
/utility/data_setup/
/airflow/config/

/documentation/*
!/documentation/SQL Schema.xlsx

/tests/api_call.ipynb

/exploratory_analysis/*
!/exploratory_analysis/apple_record_extractor.py
!/exploratory_analysis/apple_xml_explorer.ipynb
!/exploratory_analysis/error_handling.ipynb
!/exploratory_analysis/youtube_api_explorer.ipynb
!/exploratory_analysis/youtube_html_explorer.ipynb


