# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
*.swp
*.swo
*.swn

# Exclude setup cron script
setup_cron.sh

logs.txt

# Custom directories to ignore
/archive/
/credentials/
/data/

# Ignore everything in the documentation directory
/documentation/*

# But not these files:
!/documentation/SQL Schema.xlsx
