# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
*.swp
*.swo
*.swn

# Exclude setup cron script
setup_cron.sh

# Custom directories to ignore
/archive/
/credentials/
/data/
/documentation/